<header class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="home">
      <img class="logo" src="./assets/logo.png" alt="" />
    </a>
    <ul class="main">
      <li class="link-regular item-main">
        <a class="link" routerLink="movies" routerLinkActive="active"
          >Películas</a
        >
      </li>
      <li class="link-regular item-main">
        <a class="link" routerLink="series" routerLinkActive="active">Series</a>
      </li>
      <li class="link-regular item-main">
        <a class="link" routerLink="login" routerLinkActive="active"
          >Ingresar <i class="bi bi-arrow-right"></i
        ></a>
      </li>
    </ul>
  </div>
</header>
