<section class="login">
  <div class="login-container-img">
    <img class="login-img" src="assets/img/img-login.svg" />
  </div>
  <div class="login-container">
    <h1 class="title">Registrar</h1>
    <form>
      <input
        class="search"
        type="email"
        placeholder="&#xf0e0; Email"
        name=""
        id=""
      />
      <input
        class="search"
        type="password"
        placeholder="&#xf084; Contraseña"
        name=""
        id=""
      />
      <p class="text-register">
        ¿Tienes cuenta? <a routerLink="../login">Ingresar</a>
      </p>
      <button class="item-tab" type="submit">Registrar</button>
    </form>
    <div class="divider">
      <hr class="linea" />
      <p class="divider-text">ó</p>
      <hr class="linea" />
    </div>
    <div class="login-container-google">
      <img
        class="logo-google"
        src="assets/img/btn_google_signin.png"
        alt="img register google"
      />
    </div>
  </div>
</section>
