<section class="login">
  <div class="login-container-img">
    <img class="login-img" src="assets/img/img-login.svg" />
  </div>
  <div class="login-container">
    <h1 class="title">Registrar</h1>
    <form (ngSubmit)="sendUser()" autocomplete="off" [formGroup]="formUser">
      <input
        class="search"
        type="email"
        formControlName="email"
        placeholder="&#xf0e0; Email"
      />
      <span class="form-text text-danger" *ngIf="validForm('email')">
        El formato de correo no es valido.
      </span>
      <input
        class="search"
        type="password"
        formControlName="password"
        placeholder="&#xf084; Contraseña"
      />
      <span class="form-text text-danger" *ngIf="validForm('password')">
        Debe ser mayor a 6 digitos.
      </span>
      <p class="text-register">
        ¿Tienes cuenta? <a routerLink="../login">Ingresar</a>
      </p>
      <button class="item-tab" type="submit">Registrar</button>
    </form>
    <div class="divider">
      <hr class="linea" />
      <p class="divider-text">ó</p>
      <hr class="linea" />
    </div>
    <div class="login-container-google">
      <img
        (click)="loginWithGoogle()"
        class="logo-google"
        src="assets/img/btn_google_signin.png"
        alt="img register google"
      />
    </div>
  </div>
</section>
