<header class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <a routerLink="home">
      <img class="logo" src="./assets/logo.png" alt="" />
    </a>
    <ul class="main">
      <li class="link-regular item-main">
        <a class="link">Películas</a>
      </li>
      <li class="link-regular item-main">
        <a class="link">Series</a>
      </li>
      <li class="link-regular item-main">
        <a class="link">Ingresar <i class="bi bi-arrow-right"></i></a>
      </li>
    </ul>
  </div>
</header>

<section>
  <div class="container">
    <h1 class="title">PelisUP!</h1>
    <p class="body-regular description">
      Plataforma para ver películas y series 😉
    </p>
    <input
      class="search"
      placeholder="&#xf002; Buscar películas y series"
      type="search"
    />
    <div class="tab pr-0 pl-0 col-md-6 col-12">
      <li class="link-regular item-tab active">Todos</li>
      <li class="link-regular item-tab">Películas</li>
      <li class="link-regular item-tab">Series</li>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="all d-block">Todos <small class="body-regular">(120)</small></h3>
  <div class="d-flex justify-content-center flex-wrap mb-6">
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>6.8
      </div>
      <img class="portada" src="./assets/portadas/img1.jpg" alt="protada" />
      <p class="title-card link-regular">Black Widow</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>7.9
      </div>
      <img class="portada" src="./assets/portadas/img2.jpg" alt="protada" />
      <p class="title-card link-regular">Shang Chi</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>8.4
      </div>
      <img class="portada" src="./assets/portadas/img3.jpg" alt="protada" />
      <p class="title-card link-regular">Loki</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>8.3
      </div>
      <img class="portada" src="./assets/portadas/img4.jpg" alt="protada" />
      <p class="title-card link-regular">How I Met Your Mother</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>8.3
      </div>
      <img class="portada" src="./assets/portadas/img5.jpg" alt="protada" />
      <p class="title-card link-regular">Money Heist</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>8.8
      </div>
      <img class="portada" src="./assets/portadas/img6.jpg" alt="protada" />
      <p class="title-card link-regular">Friends</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>8.1
      </div>
      <img class="portada" src="./assets/portadas/img7.jpg" alt="protada" />
      <p class="title-card link-regular">The Big Bang Theory</p>
    </div>
    <div class="cards col-md-3 col-12">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>7.0
      </div>
      <img class="portada" src="./assets/portadas/img8.jpg" alt="protada" />
      <p class="title-card link-regular">Two And a Half Men</p>
    </div>
  </div>
</section>

<footer class="d-flex justify-content-center align-items-center">
  <p class="link-small">
    Hecho con <span class="icon"> ♥ </span> por Folcademy.
  </p>
</footer>
