<section>
  <div class="container">
    <h1 class="title">
      <small class="mini-title">PelisUP!</small><br />
      Series
    </h1>
    <input
      class="search"
      placeholder="&#xf002; Buscar series"
      type="search"
      name="toSearch"
      [(ngModel)]="toSearch"
      (ngModelChange)="search(toSearch)"
    />
  </div>
</section>
<section class="container">
  <h3 class="all d-block">
    <small class="body-regular">{{ movieResult.length }} series</small>
  </h3>
  <app-card [data]="movieResult"></app-card>
</section>
