<section class="login">
  <div class="login-container-img">
    <img class="login-img" src="assets/img/img-login.svg" />
  </div>
  <div class="login-container">
    <h1 class="title">Ingresar</h1>
    <form>
      <input
        class="search"
        type="email"
        placeholder="&#xf0e0; Email"
        name=""
        id=""
      />
      <input
        class="search"
        type="password"
        placeholder="&#xf084; Contraseña"
        name=""
        id=""
      />
      <p class="text-login">
        ¿No tienes cuenta? <a routerLink="../register">Registrar</a>
      </p>
      <button class="item-tab" type="submit">Ingresar</button>
    </form>
  </div>
</section>
