<section>
  <div class="container">
    <h1 class="title">PelisUP!</h1>
    <p class="body-regular description">
      Plataforma para ver películas y series 😉
    </p>
    <input
      class="search"
      placeholder="&#xf002; Buscar películas y series"
      type="search"
    />
    <div class="tab pr-0 pl-0 col-md-6 col-12">
      <li class="link-regular item-tab active">Todos</li>
      <li class="link-regular item-tab">Películas</li>
      <li class="link-regular item-tab">Series</li>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="all d-block">Todos <small class="body-regular">(120)</small></h3>
  <app-card></app-card>
</section>
