<section>
  <div class="container">
    <h1 class="title">PelisUP!</h1>
    <p class="body-regular description">
      Plataforma para ver películas y series 😉
    </p>
    <input
      class="search"
      placeholder="&#xf002; Buscar películas y series"
      type="search"
      name="toSearch"
      [(ngModel)]="toSearch"
      (ngModelChange)="search(toSearch)"
    />
    <div class="tab pr-0 pl-0 col-md-6 col-12">
      <li
        class="link-regular item-tab"
        [ngClass]="filter == '' ? 'active' : ''"
        (click)="filters('')"
      >
        Todos
      </li>
      <li
        class="link-regular item-tab"
        [ngClass]="filter == 'movie' ? 'active' : ''"
        (click)="filters('movie')"
      >
        Películas
      </li>
      <li
        class="link-regular item-tab"
        [ngClass]="filter == 'serie' ? 'active' : ''"
        (click)="filters('serie')"
      >
        Series
      </li>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="all d-block">
    Todos <small class="body-regular">({{ movieResult.length }})</small>
  </h3>

  <!-- <app-card></app-card> -->

  <div class="d-flex justify-content-center flex-wrap mb-6">
    <div class="cards col-md-3 col-12" *ngFor="let item of movieResult">
      <div class="star d-flex justify-content-center align-items-center">
        <i class="far fa-star me-1"></i>{{ item.vote }}
      </div>
      <img class="portada" src="{{ item.img }}" alt="protada" />
      <p class="title-card link-regular">{{ item.title }}</p>
    </div>
  </div>
</section>
