<section>
  <div class="container">
    <h1 class="title">PelisUP!</h1>
    <p class="body-regular description">
      Plataforma para ver películas y series 😉
    </p>
    <input
      class="search"
      placeholder="&#xf002; Buscar películas y series"
      type="search"
      name="toSearch"
      [(ngModel)]="toSearch"
      (ngModelChange)="search(toSearch)"
    />
    <div class="tab pr-0 pl-0 col-md-6 col-12">
      <li
        class="link-regular item-tab"
        [ngClass]="filter == '' ? 'active' : ''"
        (click)="getAll()"
      >
        Todos
      </li>
      <li
        class="link-regular item-tab"
        [ngClass]="filter == 'movie' ? 'active' : ''"
        (click)="getMovies()"
      >
        Películas
      </li>
      <li
        class="link-regular item-tab"
        [ngClass]="filter == 'tv' ? 'active' : ''"
        (click)="getSeries()"
      >
        Series
      </li>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="all d-block">
    {{ textFilter }}
    <small class="body-regular">({{ movieResult.length }})</small>
  </h3>

  <app-card [data]="movieResult"></app-card>
</section>
